
DisclosureStatement.pdf
Fall 2021/CIS5930 - Intro to Data Science/(The MIT Press Essential Knowledge) John D. Kelleher, Brendan Tierney - Data Science.pdf
Fall 2021/MAP5196 - Mathematics for Data Science/Math For Data Science Syllabus.pdf
Fall 2021/MAP5196 - Mathematics for Data Science/Mathematics for Machine Learning.pdf
Fall 2021/MAP5196 - Mathematics for Data Science/Midterm Study Guide.pdf
Fall 2021/STA5207 - Applied Regression Methods/.Rhistory
Fall 2021/STA5207 - Applied Regression Methods/Assignment 1 - Estimation and Inference/Estimation and Inference.R
Fall 2021/STA5207 - Applied Regression Methods/Assignment 10 - Transformations/Transformations.R
Fall 2021/STA5207 - Applied Regression Methods/Assignment 2 - Model Comparison/Compare_Models.R
Fall 2021/STA5207 - Applied Regression Methods/Assignment 3 - Variable Selection/Selection.R
Fall 2021/STA5207 - Applied Regression Methods/Assignment 4 - Diagnostics/Diagnostics.R
Fall 2021/STA5207 - Applied Regression Methods/Assignment 9 - Ridge and Lasso Regression/Assignment 9 R Code.R
Fall 2021/STA5207 - Applied Regression Methods/Exam 1 Topics.docx
Fall 2021/STA5207 - Applied Regression Methods/Exam 2 Topics.docx
Fall 2021/STA5207 - Applied Regression Methods/Final Exam Topics.docx
Fall 2021/STA5910 - Professional Skills Development/Klion_Jarod_Resume.docx
Fall 2021/STA5910 - Professional Skills Development/Klion_Jarod_Resume.pdf
Fall 2021/STA5910 - Professional Skills Development/Klion_Jarod_Resume_Old.pdf
Fall 2022/ISC5228 - Monte Carlo Methods/LecShort1.pdf
Fall 2022/MAD5403 - Foundations of Computational Mathematics/Programming Assignments/assignment-template/.DS_Store
Fall 2022/MAD5403 - Foundations of Computational Mathematics/Programming Assignments/assignment-template/README.txt
Fall 2022/MAD5403 - Foundations of Computational Mathematics/Programming Assignments/assignment-template/report/Makefile
Fall 2022/MAD5403 - Foundations of Computational Mathematics/Programming Assignments/assignment-template/report/report.pdf
Fall 2022/MAD5403 - Foundations of Computational Mathematics/Programming Assignments/assignment-template/report/report.tex
Fall_2021_Cohort_Registration.pdf
Jupyter Notebooks/.idea/.name
Jupyter Notebooks/.idea/dataSources.xml
Jupyter Notebooks/.idea/Jupyter Notebooks.iml
Jupyter Notebooks/.idea/misc.xml
Jupyter Notebooks/.idea/modules.xml
Jupyter Notebooks/.idea/runConfigurations.xml
Jupyter Notebooks/.idea/vcs.xml
Jupyter Notebooks/MathForDataScience-Fall21/
Jupyter Notebooks/.idea/.gitignore
KlionJarodSOP.pdf
MPN_2021072516165673577.pdf
Spring 2022/CAP5771 - Data Mining/Coding HW/HW1 - Classification of MNIST/__pycache__/mnist_assignment_starter.cpython-39.pyc
Spring 2022/CAP5771 - Data Mining/Coding HW/HW3 - Intro to Neural Networks/__pycache__/starter.cpython-39.pyc
Spring 2022/CAP5771 - Data Mining/Introduction to Data Mining.pdf
Spring 2022/CAP5771 - Data Mining/Written HW/Homework 2 - Exploring Data/~$ion_HW2.docx
Spring 2022/CAP5771 - Data Mining/Written HW/Homework 2 - Exploring Data/~WRL2901.tmp
Spring 2022/CAP5771 - Data Mining/Written HW/Homework 4 - Cluster Analysis Basics/~$ion_HW4.docx
Spring 2022/CAP5771 - Data Mining/Written HW/Introduction to Data Mining Solutions.pdf
Spring 2022/CAP5771 - Data Mining/~$terature Review.docx
Spring 2022/ISC5318 - High-Performance Computing/~$mework 1.docx
Spring 2022/PHI5699 - Data Ethics/Policy Memo \#1 Example.pdf
Spring 2022/PHI5699 - Data Ethics/Workplace Surveillance excerpt.docx
Unoff_Grad_transcript.pdf
Unoff_Transcript 8_31_22.pdf
